*,::before,::after{
	padding: 0px;
	margin: 0px;
	outline: 0;
	box-sizing: border-box;
	align-items: unset;

}
@font-face{
	font-family: 'open-sans';
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
	font-family: 'oswald';
	src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

.clearfix{
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6{
	padding:0px;
	margin:0px;
	font-family:'oswald';
}
div,
section,
aside,
header,
footer,
article,
figure,
main,
nav,
{
	display:block;
}

p{
	font-family: 'open-sans';
}
 ul,ol{
	 margin: 0px;
	 padding: 0px;
	 
 }
 li{
	 list-style: none;
 }

a{
	transition-duration: 0.3s;
	text-decoration: none;
	font-family: 'oswald';
}
a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
}


.container{
	width: 960px;

	margin: 0 auto;
}

.row{
	padding:0px;
	display: flex;
	flex-wrap: wrap;


}
.row div{
	
}



.col1{
	flex: 0 0 8.3333%;
	max-width: 8.3333%;
}

.col2{
	flex: 0 0 16.6666%;
	max-width:16.6666% ;
	
}
.col3{
	flex:0 0 25%;
	max-width: 25%;
}
.col4{
	flex:0 0 33.3333%;
	max-width: 33.3333%;
}
.col5{
	flex: 0 0 41.6666%;
	max-width: 41.6666%;
}
.col6{
	flex: 0 0 50%;
	max-width: 50%;

}
.col7{
	flex: 0 0 58.3333%;
	max-width: 58.3333%;
}
.col8{
	flex: 0 0 66.6666%;
	max-width: 66.6666%;
}
.col9{
	flex: 0 0 75%;
	max-width: 75%;
}
.col10{
	flex: 0 0 83.3366%;
	max-width: 83.3333%;
}
.col11{
	flex: 0 0 91.6666%;
	max-width: 91.6666%;
}
.col12{
	flex: 0 0 100%;
	max-width: 100%;
}






